In [101]:
import pandas as pd
import numpy as np

## Task Two

In [102]:
daily_sales_data_list = []

for i in range(0, 3):
    daily_sales_data_df_read = pd.read_csv('./data/daily_sales_data_{}.csv'.format(i))
    daily_sales_data_list.append(daily_sales_data_df_read)

In [103]:
daily_sales_data_df = pd.concat(daily_sales_data_list)

In [104]:
daily_sales_data_df.head()

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [105]:
daily_sales_data_df['price'] = daily_sales_data_df['price'].str.replace('$', '').astype(float)

In [106]:
daily_sales_data_df['product'].unique()

array(['pink morsel', 'gold morsel', 'magenta morsel',
       'chartreuse morsel', 'periwinkle morsel', 'vermilion morsel',
       'lapis morsel'], dtype=object)

In [107]:
# Only keep pink morsel
daily_sales_data_df = daily_sales_data_df[daily_sales_data_df['product'] == 'pink morsel']

In [120]:
# sales = quantity * price
daily_sales_data_df['sales'] = daily_sales_data_df['quantity'] * daily_sales_data_df['price']

In [121]:
# convert date to datetime format
daily_sales_data_df['date'] = pd.to_datetime(daily_sales_data_df['date'])

In [113]:
daily_sales_data_df['region'].unique()

array(['north', 'south', 'east', 'west'], dtype=object)

In [114]:
daily_sales_data_df.head()

        product  price  quantity       date region   sales
0   pink morsel    3.0       546 2018-02-06  north  1638.0
1   pink morsel    3.0       549 2018-02-06  south  1647.0
2   pink morsel    3.0       577 2018-02-06   east  1731.0
3   pink morsel    3.0       519 2018-02-06   west  1557.0
28  pink morsel    3.0       529 2018-02-07  north  1587.0

In [122]:
daily_sales_data_df = daily_sales_data_df[['sales', 'date', 'region']]
daily_sales_data_df

        sales       date region
0      1638.0 2018-02-06  north
1      1647.0 2018-02-06  south
2      1731.0 2018-02-06   east
3      1557.0 2018-02-06   west
28     1587.0 2018-02-07  north
...       ...        ...    ...
13667  2390.0 2019-06-09   west
13692  2035.0 2019-06-10  north
13693  2465.0 2019-06-10  south
13694  2500.0 2019-06-10   east
13695  2115.0 2019-06-10   west

[5880 rows x 3 columns]